﻿<h4>Cadastro de Produtos</h4>
<hr/>

<div class="row">
    <div class="col-md-6">

        <label>Nome do Produto:</label>
        <input type="text" class="form-control"
               placeholder="Digite aqui"
               ng-model="model.Nome"/>
        <br/>

        <label>Preço:</label>
        <input type="text" class="form-control"
               placeholder="Digite aqui"
               ng-model="model.Preco" />
        <br />

        <label>Quantidade:</label>
        <input type="number" class="form-control"
               ng-model="model.Quantidade"/>
        <br />

        <label>Data de Compra:</label>
        <input type="date" class="form-control"
               ng-model="model.DataCompra" />
        <br />

        <button class="btn btn-success"
                ng-click="cadastrar()">
            <span class="glyphicon glyphicon-floppy-save"></span>
            Cadastrar Produto
        </button>

        <br/>
        <br/>

        {{mensagem}}

    </div>
</div>