﻿<h4>Consulta de Produtos</h4>
<hr/>

<p>
    {{mensagem}}
</p>

<div>
    <label>Filtrar: </label> 
    <input type="text" placeholder="Pesquise aqui" ng-model="pesquisa"/>
</div>

<br/>

<table class="table table-hover" ng-init="consultar()">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome do Produto</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Total</th>
            <th>Data de Compra</th>
            <th>Operações</th>
        </tr>
    </thead>
    <tbody>

        <tr ng-repeat="p in listagemProdutos | filter : pesquisa">
            <td>{{p.IdProduto}}</td>
            <td>{{p.Nome}}</td>
            <td>{{p.Preco | currency : 'R$ '}}</td>
            <td>{{p.Quantidade}}</td>
            <td>{{p.Total | currency : 'R$ '}}</td>
            <td>{{p.DataCompra | date : 'dd/MM/yyyy'}}</td>
            <td>

                <button class="btn btn-primary btn-sm"
                        data-target="#janelaedicao"
                        data-toggle="modal"
                        ng-click="obter(p.IdProduto)"
                        >
                        <span class="glyphicon glyphicon-pencil"></span>
                
                </button>

                <button class="btn btn-danger btn-sm"
                        data-target="#janelaexclusao"
                        data-toggle="modal"
                        ng-click="obter(p.IdProduto)"
                        >
                    <span class="glyphicon glyphicon-remove"></span>
                </button>

                
            </td>
        </tr>

    </tbody>
    <tfoot>
        <tr>
            <td colspan="7">
                Quantidade de registro(s): {{listagemProdutos.length}}
            </td>
        </tr>
    </tfoot>
</table>

<div id="janelaexclusao" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h2>Exclusão de Produto</h2>
                Confirme os dados do produto para exclusão
            </div>
            <div class="modal-body">
                <label>Código:</label> {{model.IdProduto}}
                <br />

                <label>Nome do Produto:</label> {{model.Nome}}
                <br />

                <label>Preço:</label> {{model.Preco | currency : 'R$ '}}
                <br />

                <label>Quantidade:</label> {{model.Quantidade}}
                <br />

                <label>Total:</label> {{model.Total | currency : 'R$ '}}
                <br />

                <label>Data de Compra:</label> {{model.DataCompra | date: 'dd/MM/yyyy'}}
                <br />
            </div>

            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal"
                        ng-click="excluir()" >
                    Excluir Produto
                </button>
                <button class="btn btn-default" data-dismiss="modal">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

<div id="janelaedicao" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h2>Atualizar Dados do Produto</h2>
                Utilize os campos abaixo para edição
            </div>
            <div class="modal-body">

                <label>Código do Produto></label>
                <input type="text" class="form-control" readonly="readonly"
                       ng-model="model.IdProduto"/>
                <br />

                <label>Nome do Produto: </label>
                <input type="text" class="form-control" 
                       ng-model="model.Nome"/> 
                <br />

                <label>Preço:</label>
                <input type="text" class="form-control" 
                       ng-model="model.Preco"/>
                <br />

                <label>Quantidade:</label>
                <input type="number" class="form-control" 
                       ng-model="model.Quantidade"/>
                <br />

                <label>Data de Compra:</label>
                <input type="date" class="form-control" 
                       ng-model="model.DataCompra"
                       value="{{model.DataCompra | date: 'yyyy-MM-dd'}}"
                       />
                <br />
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal"
                     ng-click="atualizar()">
                    Atualizar Produto
                </button>

                <button class="btn btn-default" data-dismiss="modal">
                    Cancelar
                </button>

            </div>
        </div>
    </div>
</div>
